<form class="form word_form row">
    <div class="col-md-10 edit_block">
        <div class="form-group">
            <input type="text" name="name" id="name" class="form-control"/>
        </div>

        <div class="form-group">
            <textarea name="description" id="description" rows="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="col-md-2">
        <button class="pull-right save btn btn-default" type="submit">
            save
        </button>
    </div>
</form>