<div class="row">
    <div class="col-md-10">
        <h2>{{name}}</h2>

        <p class="description">
            {{description}}
        </p>

    </div>
    <div class="col-md-2">

        {{# if can_edit }}
            <div class="pull-right edit btn btn-default">
                redakti
            </div>
            <div class="pull-right remove btn btn-default">
                forvisi
            </div>
        {{/if}}

    </div>

</div>
