<div class="row  text-center">
    <div class="col-md-12">
        <img src="{{thumb}}" alt="" class="img-thumbnail"/>
    </div>
</div>
<div class="row  text-center">
    <div class="col-md-12">
        <label for="image_upload" class="btn btn-default">Bildo</label>
        <input id="image_upload" type="file" name="image" class="hide">
    </div>
</div>
