<div class="row">
    <div class="col-md-4">
        <img src="{{thumb}}" alt=""/>
    </div>
    <div class="col-md-8">
        {{# if can_edit }}
            <div class="pull-right edit btn btn-default">
                E
            </div>
        {{/if}}
        <h2>{{name}}</h2>
        <p>
            {{description}}
        </p>
    </div>
</div>