<div class="row">
    <div class="col-md-3 image_region"></div>
    <div class="col-md-9">
        <div class="detail_region"></div>
        <div class="relation_list_region"></div>
    </div>
</div>

