
<div class="row">
    <div class="col-md-3">
        <div class="image_region"></div>
    </div>
    <div class="col-md-9">
        <div class="detail_region"></div>
        <div class="category_list_region"></div>
        <div class="word_list_region"></div>
    </div>
</div>
