
@font-face {
  font-family: 'Impact';
  src: ~"url('/static/fonts/impact/impact.eot')";
  src: ~"url('/static/fonts/impact/impact.woff') format('woff')", ~"url('/static/fonts/impact/impact.ttf') format('truetype')", ~"url('/static/fonts/impact/impact.svg') format('svg')";
}

.vortaro-logo {
  color: @eo;
  font-family:'Impact';
  font-size:4em;
}

.navbar-container{
  border-bottom: 3px double @eo;
  margin-bottom: 10px;
  margin-top: 20px;
}
.search-container{
  margin-top:38px;
}


.vortaro-logo-star{
  font-size: 0.4em;
}