<div class="row">
    <div class="col-md-12 hidden-xs">
        <div class="word_class_list_region"></div>
        <div class="category_list_region"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="word_list_region"></div>
    </div>
</div>