/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: @eo;
  color: #fff;
}

.footer {
  text-align: center;
}

.footer a,
.footer a:hover {
  color: #fff;
}