<h2>Vi</h2>
<div class="row">
    <div class="col-md-6">

        <div class="form form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-6" for="first_name">
                    nomo
                </label>

                <div class="col-sm-6">
                    <input type="text" id="first_name" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-6" for="last_name">
                    familinomo
                </label>

                <div class="col-sm-6">
                    <input type="text" id="last_name" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="pull-right">
            <div class="glyphicon glyphicon-ok ok hide"></div>
            <div class="btn btn-default save">
                ek
            </div>
        </div>

    </div>
</div>