<div class="row">
    <div class="col-sm-6">

        <div class="word-block">
            <div class="word-image-container fileinput-button">
                <div class="word-image">
                    <div class="btn btn-default btn-lg">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <input class="fileupload" type="file" name="image" multiple>
            </div>
        </div>
    </div>
    <div class="col-sm-6">

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6 pull-right">
        <div class="btn btn-primary word-add-submit">Ok</div>
    </div>
</div>