<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="btn btn-primary btn-large fileinput-button" style="width:100%">
            <i class="fa fa-plus"></i>
            <span>Plus</span>
            <input id="fileupload" type="file" name="files[]" multiple="">
        </div>
    </div>
</div>
<div class="newWords"></div>