<ul>
    <li>
        <a href="/login/vk-oauth/">
            <i class="fa fa-vk blua"></i>
        </a>
    </li>
    <li>
        <a href="/login/facebook/">
            <i class="fa fa-facebook blua"></i>
        </a>
    </li>
</ul>