<div class="word-block">
    <div class="word-image-container">
        <div class="btn btn-default btn-lg fileinput-button" >
            <i class="fa fa-plus"></i>
            <span>Plus</span>
            <input class="fileupload" type="file" name="image[]" multiple="">
        </div>
    </div>
</div>