<div class="row">
    <div class="col-md-6">
        <a href="/login/vk-oauth/" style="width:100%" class="btn btn-lg btn-primary">
            <i class="fa fa-vk"></i>
        </a>
    </div>
    <div class="col-md-6">

        <a href="/login/facebook/" style="width:100%" class="btn btn-lg btn-primary">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
</div>

Registrado Registrado