<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <a href="/login/vk-oauth/" class="btn btn-block btn-primary">
            <div class="row">
                <div class="col-xs-6">
                    <i class="svg-icon svg-vk pull-right"></i>
                </div>
                <div class="col-xs-6">
                    <div class="pull-left">
                        Vkontakte
                    </div>
                </div>
            </div>
        </a>

        <a href="/login/facebook/" class="btn btn-block btn-primary">
            <div class="row">
                <div class="col-xs-6">
                    <i class="svg-icon svg-facebook pull-right"></i>
                </div>
                <div class="col-xs-6">
                    <div class="pull-left">
                        Facebook
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>