<!DOCTYPE html>
<html>
<head>
    <title>BildVortaro</title>
    <!-- build:template
        <link rel="stylesheet" href="/static/css/style-<%= revision %>.css"/>
    /build -->

    <!-- build:remove -->
    <link rel="stylesheet" href="/static/bower_components/select2/select2.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <!-- /build -->

    <!-- build:template
         <meta name="date.modified" content="<%= modified %>">
    /build -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="is_authenticated" content="{{ request.user.is_authenticated }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

{% block navbar %}
    <div class="container navbar-container">
        <div class="row navbar">
            <div class="col-sm-6 col-xs-12">
                <div class="vortaro-logo">BildVortaro<span class="vortaro-logo-star">★</span>com</div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="navbar-r ">
                    <div class="input-group">
                    <span class="btn input-group-addon btn-refresh">
                        <i class="fa fa-refresh"></i>
                    </span>
                        <input type="text" class="search-input form-control" placeholder="Serĉu...">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="word-classes-region"></div>
            <div class="categories-region"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="plus-region hidden-xs"></div>
            <div class="main-region"></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="center-block">
            <p class=""><i class="fa fa-rights"></i> {{ now.year }}</p>
        </div>
    </div>
</div>
<div class="modal-region modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>


<!-- build:remove -->
<script>window.debug = true;</script>
<script type="text/javascript" src="/static/bower_components/r.js/require.js"></script>
<script type="text/javascript" src="/static/js/config/require.js"></script>
<!-- /build -->

<!-- build:template
<script>window.debug = false;</script>
<script type="text/javascript" src="/static/js/app-<%= revision %>.js"></script>
/build -->

<!-- build:template
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter25485071 = new Ya.Metrika({id:25485071,
                    webvisor:true,
                    clickmap:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25485071" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /build -->

<script type="text/javascript">
    require([
        'marionette',
        'js/reqres'
    ], function (Marionette, reqres) {
        var ua = navigator.userAgent;
        var isChrome = /chrome/i.exec(ua), isAndroid = /android/i.exec(ua), hasTouch = 'ontouchstart' in window &&
                      !(isChrome && !isAndroid);
        reqres.setHandler('hasTouch', function () {
            return hasTouch;
        });

        var Application = new Marionette.Application();
        Application.addInitializer(function () {
            require(['js/app']);
        });
        Application.start();
    });
</script>
</body>
</html>