<!DOCTYPE html>
<html>
<head>
    <title>Vortaro</title>
    <link rel="stylesheet" href="/static/style.css"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% block navbar %}
    <div class="container navbar-container">
        <div class="row navbar">
            <div class="col-sm-4">
                <div class="vortaro-logo">Vortaro<span class="vortaro-logo-star">★</span>ru</div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="search-container pull-right input-group">
                    <input type="text" class="search-input form-control" placeholder="...">

                    <span class="btn input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<div id="footer">
    <div class="container">
        <p>(c) {{ now.year }}</p>
    </div>
</div>

</body>
</html>