<!DOCTYPE html>
<html>
<head>
    <title>Vortaro</title>
    <link rel="stylesheet" href="/static/style.css"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% block navbar %}
    <div class="container navbar-container">
        <div class="row navbar">
            <div class="col-lg-4">
                <div class="vortaro-logo">Vortaro.ru</div>
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" placeholder="..." id="search">
            </div>
        </div>
    </div>
{% endblock %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<div id="footer">
    <div class="container">
        <p>(c) {{ now.year }}</p>
    </div>
</div>

</body>
</html>