{% extends 'base.html' %}
{% load vortaro_tags %}
{% load thumbnail %}
{% block content %}
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-pills nav-justified">
                {% for wc in word_class_choices %}
                    <li>
                        <a href="#">
                            {{ wc.1 }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 col-lg-3 category-image-container">
                                {% thumbnail category.image '32x32' upscale=True as im %}
                                    <a href="#">
                                        <img class="category-image" src="{{ im.url }}">
                                    </a>
                                {% endthumbnail %}
                            </div>
                            <div class="col-xs-8 col-lg-9">
                                <a href="#">
                                    {{ category.name }}
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10 main-region">
        </div>
    </div>
{% endblock %}