{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>BildVortaro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<nav class="container navbar-container">
    <div class="row navbar">
        <div class="col-md-5 col-sm-4 col-xs-12">
            <a class="vortaro-logo" href="#">
                BildVortaro<span class="vortaro-logo-star">★</span>com
            </a>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="navbar-r">
                <form action="/" class="search-form form form-inline">
                    <input type="text" class="search-input form-control" name="search"
                           placeholder="Serĉu...">
                    <input class="btn btn-default form-control" type="submit" value="ok">
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="navbar-r">
                <div class="btn btn-default add_word pull-right">
                    aldoni vorto
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container main_region"></div>

<div class="container footer">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">{{ now.year }}</div>
        <div class="col-md-4"></div>
    </div>
</div>

{% if DEBUG %}
    <script>
        window.debug = true;
    </script>
{% else %}
    <script>
        window.debug = false;
    </script>
    {% include 'counters.html' %}
{% endif %}

<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>