{% extends 'base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block module_name %}word{% endblock %}
{% block body_class %}word{% endblock %}
{% block content %}
    <form class="row form form-horizontal" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="col-md-4">
            {% thumbnail word.image '200x200' as im %}
                <img src="{{ im.url }}" alt=""/>
            {% endthumbnail %}
        </div>
        <div class="col-md-8">
            {% bootstrap_form form %}
            <button class="btn pull-right" type="submit">
                Ok
            </button>
        </div>
    </form>

{% endblock %}
